[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-identity = "*"
azure-storage-file-datalake = "*"
python-dotenv = "*"
requests = "*"
polars = "*"
pydantic = "*"
duckdb = "*"
adlfs = "*"
psycopg = {extras = ["binary"], version = "*"}
pydantic-settings = "*"
pandas = "*"
deltalake = "*"
asyncio = "*"
aiohttp = "*"
aiofiles = "*"
pyarrow = ">=13"
boto3 = "*"

[dev-packages]
black = "*"
mypy = "*"
types-requests = "*"
ruff = "*"
ipykernel = "*"
nbqa = "*"
notebook = "*"

[requires]
python_version = "3.10"
