dist
node_modules
npm-debug.log
.env
Dockerfile*
.dockerignore
.git
.gitignore
docker-compose*
.prettierrc
nodemon.json
.eslintrc
docker
.eslintignore
README.md
.DS_Store
.prettierignore
*.code-workspace
.github
deploy
scripts