[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
python-dotenv = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
